header.chat-header

main
    #main-container.container.tingle-content-wrapper
    input(type="hidden" value=version  id="islands-version")

script.
    isRegistration = function(){
        return #{registration}
    }

