meta(charset="UTF-8")
meta(name="viewport" content="width=device-width" initial-scale=1)
//link(href='/css/toastr.css' rel='stylesheet')
//link(href='/css/loading-bar.css' rel='stylesheet')
//link(href='/css/loading.css' rel='stylesheet')
//link(href='/css/loading-btn.css' rel='stylesheet')

//script(src='/js/processError.js')
//script(src='/js/tingle.js')
//link(rel='stylesheet' href='/css/chat.min.css')
link(rel="icon" href='/img/favicon.ico')

