extends partials/layout
block head
	include partials/head
	link(href="https://unpkg.com/mocha@4.0.1/mocha.css" rel="stylesheet")
block header
	include partials/header
block content
	include partials/icrypto-content
block footer
	include partials/footer
block scripts
	include partials/scripts-content
	include partials/icrypto-scripts
