link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
script(src="https://use.fontawesome.com/3c38df0ad0.js")
link(href='/css/toastr.min.css' rel='stylesheet')
script(src="/socket.io/socket.io.js")
script(src='/js/jquery.min.js')
script(src='/js/toastr.min.js')
link(rel='stylesheet' href='/css/main.min.css')

